 <%- include('../layouts/header.ejs') %>
  </head>
  <body>
    <%- include('../layouts/navigation.ejs') %>
    <article>
    <% if(products.length > 0) { %> <% for (let product of products) { %>
          <div>
            <h1><%= product.value %></h1>
            <img src="<%= product.imageUrl %>" alt="<%= product.value %>" style="width:60%;height:60%;" title="title"/>
            <h3>$<%= product.price %></h3>
            <p><%= product.description %></p>
            <a class="btn" href="/product/<%= product._id %>" >Detail</a>
           <%- include('../layouts/add-to-cart.ejs',{product:product})%>
          </div>
    <% } %> <% } else { %>
         <h1>No products has been found</h1>
    <% } %>
      </article>
  <%- include('../layouts/footer.ejs')%>
 